/*
author: A.K.M. NAZMUL ISLAM
version: 1.0
create date: 30.04.2016
*/


body{
    background-color: #E1E3E4!important;
    margin: 0;
    padding: 0;
}
.tales{
    width: 100%;
    height: 400px!important;
}